@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IRANYekanMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IRANYekanExtraBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IRANYekanExtraBlack.ttf') format('truetype');
  font-weight: 800;
}

.non-english-text {
  font-family: 'IranYekan', sans-serif;
}

*{
  font-family: system-ui;
}

body {
  color: black;
  background: #edb836;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img {
  image-rendering: crisp-edges; /* Webkit (Chrome, Safari) */
  image-rendering: crisp-edges; /* Firefox */
  image-rendering: optimalSpeed; /* Older versions of IE */
  image-rendering: -moz-crisp-edges; /* Mozilla Firefox */
  image-rendering: -webkit-optimize-contrast; /* Nexuses/Chrome Android */
  image-rendering: -o-pixelated; /* Opera */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* Supported by most modern browsers */
  image-rendering: optimizeQuality; /* Works well in older versions of IE */
}


@keyframes increaseSize {
  0% {
    width: 15px; /* اندازه ابتدایی دایره */
    height: 15px;
  }
  100% {
    width: 19px; /* اندازه دایره در انتهای مدت زمان */
    height: 19px;
  }
}

.animated-circle {
  animation: increaseSize 0.4s infinite alternate; /* 1s انجام شود و برعکس شود */
  border-radius: 50%; /* تبدیل دایره به شکل دایره */
  background-color: rgb(48, 48, 48); /* رنگ پس زمینه دایره */
}

::-webkit-scrollbar {
  width: 5px; /* عرض اسکرولبار */
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b2b85; /* رنگ قسمت متحرک اسکرول */
  border-radius: 25px; /* شکل گوشه‌های قسمت متحرک */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* رنگ پس زمینه اسکرول‌بار */
}